.Container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 15px;

    @media screen and (max-width: 640px) {
      justify-content: flex-start;
      gap: 6px;
    }

    & img {
      
      @media screen and (max-width: 640px) {
        height: 15px;
      }
    }
  }